<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>


        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">Website</a>
          </div>
          <ul class="nav  navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class=""><a href="#">About Us</a></li>
          </ul>
          <p class="navbar-text">Contact Us</p>
          <div class="form-group navbar-right">
              <input type="input" class="form-control">
          </div>
        </div>
        </div>
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        <div class="progress">
            <a href="#" class="progress-bar progress-bar-info">Progress bar</a>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control">

            </div>
            <div class="form-group">
                    <label for="Address">Address</label>
                    <input type="textarea" class="form-control">
    
                </div>
                <div class="form-group">
                        <label for="Address">City</label>
                       <select class="form-control">
                           <option>Delhi</option>
                           <option>Kolkata</option>
                       </select>
        
                    </div>

                    <div class="radio">
                        <input type="radio" name="gender" value="">Male
                        <input type="radio" name="gender" value="">Female
                    </div>
                    <div class="checkbox">
                            <input type="checkbox" name="skill" value="">C#
                            <input type="checkbox" name="skill" value="">Java
                        </div>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
        <button class="btn btn-default" data-toggle="modal" data-target="myModal">Modal</button>
        <div class="modal fade" id="#myModal">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Header</strong>
                    </div>
                    <div class="modal-body">
                        <strong>Body</strong>
                    </div>
                    <div class="modal-footer">
                        <strong>Footer</strong>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <tr class="active">
                <th>Name</th>
                <th>Roll</th>
            </tr>
            <tr>
                <td>Shreya</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Sayan</td>
                <td>2</td>
            </tr>
        </table>
        <div class="navbar navbar-inverse">
                <div class="container-fluid">
              <div class="navbar-header">
                <a href="#" class="navbar-brand">Website</a>
              </div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Copright</a></li>
              
              </ul>
              <p class="navbar-text">Contact Us</p>
            </div>
            </div>


    </body>
    </html>